* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat";
}

.notificationContainer {
  position: absolute;
  right: 10px;
  bottom: 10px;
  display: flex;
  flex-direction: column;
}
.notificationContainer .notification {
  color: #fff;
  font-size: 18px;
  border-radius: 10px;
  box-shadow: 0 0 5px #415f5f;
  background-color: #415f5f;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
}

.addTaskContainer {
  position: absolute;
  width: 400px;
  height: 400px;
  background-color: #415f5f;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  box-shadow: 0 0 5px #415f5f;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.addTaskContainer .addTaskHeader {
  width: 100%;
  font-size: 20px;
  color: #fff;
  display: flex;
  justify-content: flex-end;
}
.addTaskContainer .addTaskHeader i {
  cursor: pointer;
}
.addTaskContainer .inputContainer {
  width: 100%;
  height: 70vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.addTaskContainer .inputContainer input {
  width: 95%;
  height: 50px;
  border: none;
  border-radius: 10px;
  padding: 0 10px;
  margin: 10px;
  font-size: 16px;
  outline: none;
  background-color: #478080;
  color: #fff;
}
.addTaskContainer .inputContainer input::-moz-placeholder {
  color: #fff;
}
.addTaskContainer .inputContainer input::placeholder {
  color: #fff;
}
.addTaskContainer .inputContainer .timeContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.addTaskContainer .inputContainer .timeContainer .withContainer,
.addTaskContainer .inputContainer .timeContainer .toContainer {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
}
.addTaskContainer .btnContainer {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.addTaskContainer .btnContainer #addTask {
  padding: 10px 48px;
  border-radius: 10px;
  border: none;
  background-color: #478080;
  box-shadow: 0 0 3px #333;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  font-size: 16px;
}

.wrap {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
  background-color: #273939;
}
.wrap header {
  width: 15%;
  min-height: 100vh;
  background-color: #325a5a;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  box-shadow: 0 0 10px 0 #325a5a;
}
.wrap header .logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 20px 20px 20px;
}
.wrap header .logo i {
  font-size: 100px;
}
.wrap header .logo span {
  position: absolute;
  margin-top: 30px;
  font-size: 40px;
  font-weight: 600;
}
.wrap header nav {
  width: 100%;
  min-height: 75vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.wrap header nav div {
  width: 98%;
  height: 50px;
  margin: 10px 0;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px 0 0 10px;
}
.wrap header nav div i {
  margin-right: 5px;
}
.wrap header nav .selectedPage {
  background-color: #273939;
  box-shadow: 10px 0 10px 0 #273939;
}
.wrap main {
  width: 85%;
  min-height: 100vh;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrap main .controlContainer {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrap main .controlContainer .arrowLeft,
.wrap main .controlContainer .arrowRight {
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 10px;
  background-color: #325a5a;
  box-shadow: 0 0 5px 0 #325a5a;
  color: #fff;
  font-size: 24px;
  border: none;
}
.wrap main .controlContainer .currentDate {
  font-size: 24px;
  color: #fff;
}
.wrap main .dayContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  font-size: 20px;
}
.wrap main .dayContainer div {
  width: 160px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wrap main .calendarContainer {
  width: 100%;
  min-height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.wrap main .calendarContainer .row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.wrap main .calendarContainer .row .day {
  width: 160px;
  min-height: 200px;
  border-radius: 10px;
  background-color: #325a5a;
  box-shadow: 0 0 5px 0 #325a5a;
  color: #fff;
  margin: 5px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrap main .calendarContainer .row .day .header {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrap main .calendarContainer .row .day .header .openAddtaskContainer {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  background-color: #478080;
  box-shadow: 0 0 5px 0 #478080;
  color: #fff;
  border: none;
}
.wrap main .calendarContainer .row .day .tasksContainer {
  width: 100%;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrap main .calendarContainer .row .day .tasksContainer .task {
  width: 100%;
  min-height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
  background-color: #478080;
  box-shadow: 0 0 5px 0 #478080;
  border-radius: 5px;
  color: #fff;
  padding: 5px;
}
.wrap main .calendarContainer .row .selected {
  background-color: #478080;
  box-shadow: 0 0 5px 0 #478080;
}
.wrap main .calendarContainer .row .selected .header {
  width: 100%;
  height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wrap main .calendarContainer .row .selected .header .openAddtaskContainer {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 5px;
  background-color: #325a5a;
  box-shadow: 0 0 5px 0 #325a5a;
  color: #fff;
  border: none;
}
.wrap main .calendarContainer .row .selected .tasksContainer {
  width: 100%;
  min-height: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrap main .calendarContainer .row .selected .tasksContainer .task {
  width: 100%;
  min-height: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
  background-color: #325a5a;
  box-shadow: 0 0 5px 0 #325a5a;
  border-radius: 5px;
  color: #fff;
  padding: 5px;
}/*# sourceMappingURL=style.css.map */